body {
  background: url(img/stream-water-passing-through-cliffs.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-button {
  opacity: 1;
}

main {
  color: whitesmoke;
  margin-left: 20%;
  margin-right: 20%;
  background-color: black;
  opacity:.90;
  border-radius: 20px;
  padding: 20px;
}

h1, h2, p, h3 {
  display: block;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Luckiest Guy', cursive;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 9px grey;
  transition: .7s;
}

button:focus {
  background-color: goldenrod;
}

button:hover {
  background-color: goldenrod;
}

button:active {
  background-color: goldenrod;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

form {
  margin-left: 5px;
  margin-bottom: 20px;
}

@media screen and (min-width: 770px) {
form {
  margin-left: 30%;
}
}

div {
  padding: 3px;
}

p, label, button {
  font-family: 'Gayathri', sans-serif;
  font-style: bold;
  font-size: 20px;
}

h2, h3 {
  color: goldenrod;
}

input {
  cursor: pointer;
}

input[type='radio'] { 
  transform: scale(1.5);
}

input[type="radio"]:after {
  background-color: #444;
  border-radius: 25px;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
              0 1px 1px hsla(0,0%,100%,.8);
  content: '';
  display: block;
  height: 7px;
  left: 4px;
  position: relative;
  top: 4px;
  width: 7px;
}
input[type="radio"]:checked:after {
  background-color: goldenrod;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
              inset 0 2px 2px hsla(0,0%,100%,.4),
              0 1px 1px hsla(0,0%,100%,.8),
              0 0 2px 2px hsla(0,70%,70%,.4);
}

img {
  display: flex;
  margin: 0 15% 20px 15%;
  width: 70%;
  height: auto;
}
